extends layout
block content
    #map    
    script.

        var map = L.map('map', {center: [0,0], zoom: 1, minZoom:0, maxZoom: 3});
      
        
        L.TileLayer.HeightMap = L.TileLayer.extend({
            getTileUrl: function(coords) {                
                return "/image/"+coords.z+"/"+coords.x+"/"+coords.y;
            }
            
        });

        L.tileLayer.heightMap = function() {
            return new L.TileLayer.HeightMap();
        }

        L.tileLayer.heightMap().addTo(map); 
        //map.fitBounds(map.getBounds());

